[Desktop Entry]
Type=Application
Name=Keebyd
Comment=Control mechanical keyboard sounds
Exec=systemctl --user restart keebyd-ui.service
Terminal=false
Categories=AudioVideo;Audio;Settings;
StartupNotify=true
